.FormularioRegistro{

    font-family: monospace;
    background-color: #ffc1cc;
    color: grey;
    padding: 30px;
}

.TituloRegistro{
    font-family: monospace;
    color: grey;
    display: flex;
    justify-content: center;
}

.AvatarRegistro{
    font-family: monospace;
    display: flex;
    justify-content: center;
}

.TextoSubmenu{
    font-family: monospace;
}