.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.TituloMerchFondo{
  
  background-color: #ffc1cc;
}
.TituloContenido{
  display: flex;
  align-items: center;
  padding: 10px;
}
/* Pagina Home: Logo Pricipal y texto explicativo */
.TituloPrincipal{
  background-color: #ffc1cc;
  font-family: monospace;
  color: black;
  padding: 10px;
}

/* Pagina Home: Titulo Bookshop y texto explicativo */
.TituloBookshop{
  background-color: #F8ED89;
  font-family: monospace;
  color: black;
  padding: 10px;
}
/* Pagina Home: Contenido del container de  cards */
.BookshopFondo{
  background-color: #F8ED89;
  font-family: monospace;
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 700px));
    grid-gap: 1rem;
    
    justify-content: center;
}


/* Pagina Home: Titulo Merchandising */
.TituloMerch{
  background-color: #ffc1cc;
  font-family: monospace;
  color: black;
  padding: 10px;
}

/* Pagina Home: Conteiner del carrousel de Merchandising */
.MerchFondo{
  background-color: #ffc1cc;
}
/* Pagina Home: Estilo del carousel */
.CarouselMerch{
background-color: #ffc1cc;
  width: 340px;
  padding: 20px;
  margin: auto;
  height: 340px;
}

/* Pagina Home: Titulo Fanzinezone y texto explicativo - 
y Contenido de News */
.TituloFanzineZone{
  background-color: #def2fe;
  font-family: monospace;
  color: black;
  padding: 10px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
